
{{ define "main" }}
	<div>
    <h1>
			{{ .Title }}
			<div class="meta">
				{{ $date := .Date.Format "2 Jan 2006" }}
				{{ $date }}
					{{ if gt .ReadingTime 1 }}
						{{ .Scratch.Set "timeUnit" "mins" }}
					{{ else }}
						{{ .Scratch.Set "timeUnit" "min" }}
					{{ end }}
					• {{ .ReadingTime }} {{ .Scratch.Get "timeUnit" }}
			</div>
		</h1>
		{{ .Content }}
		<div class="meta">
      <div class="tags">
        {{ with .Params.tags }}
          {{ range $i, $tag := . | sort }}
            {{ with $.Site.GetPage (printf "/%s/%s" "tags" $tag) }}
              <a href="{{ .Permalink }}">#{{ $tag | urlize }}</a>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
		</div>
	</div>
	{{ partial "toc.html" . }}
{{ end }}
