repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: last-updated-date
        name: last-updated-date
        entry: bin/last-updated-date
        language: system
        types: ["markdown"]
        files: ^content/
        exclude: ^_index.md$
