<li>
    {% if book.books %}
    <details class="book">
      <summary>
        <span class="title">{{ book.title }} ({{ book.books | length }})</span>
        <span class="author">{{ book.authors }}</span>
        {%- if book.date %}
        <span class="date">{{ book.date }}</span>
        {%- endif %}
      </summary>
      {% for b in book.books %}
        <div class="series">
          <span class="title">{{ b.title }}</span>
          <span class="date">{{ b.date }}</span>
          {%- if b.rating %}
          <span class="rating">
          {% for i in range(end=b.rating) %}
          ★
          {% endfor %}
          </span>
          {%- endif %}
        </div>
      {% endfor %}
    </details>
    {% else %}
    <div class="book">
      <a href="{{ book.url }}">
        <span class="title">{{ book.title }}</span>
        <span class="author">{{ book.authors }}</span>
        {%- if book.date %}
        <span class="date">{{ book.date }}</span>
        {%- endif %}
        {%- if book.rating %}
        <span class="rating">
        {% for i in range(end=book.rating) %}
        ★
        {% endfor %}
        </span>
        {%- endif %}
      </a>
    </div>
    {% endif %}
</li>
