.main-container {
	width: 740px;
	max-width: 100%;
	margin: 0 auto;
	/* border: 1px solid white; */
}

/* table of contents */

main > aside.tableOfContents {
	position: sticky;
	top: 0px;
	align-self: start;
	margin-top: 60px;
}

.tableOfContents {
	display: block;
	margin-left: 2.5rem;
	border-width: 0px;
	border-left-width: 4px;
	border-style: solid;
	border-color: var(--fade-color);
}

.tableOfContents header {
	padding-left: 1rem;
}

.tableOfContents nav {
	display: inherit;
	padding-top: 0;
}

.tableOfContents nav a {
	padding-right: 0;
}

.tableOfContents-title {
  padding-left: 1.25rem;
}

.tableOfContents ul {
  margin-top: 0;
	margin-bottom: 0.125rem;
  padding-left: 1.25rem;
}

.tableOfContents li {
	padding-top: 0.25rem;
	line-height: 1rem;
	list-style: none;
}

.tableOfContents a {
	color: var(--fade-color) !important;
	font-size: 0.85rem;
	font-weight: 100;
	transition: all 50ms ease-in-out;
}

.tableOfContents li a:hover,
.tableOfContents li a:focus {
	color: var(--fg-color) !important;
	text-decoration: none !important;
}

/* footer */

.icons a svg {
  position: relative;
  top: 3px;
	height: 1.1rem;
	width: 1.1rem;
	padding-right: 4px;
	padding-left: 4px;
}

/* content  */

.meta {
	color: var(--fade-color);
	font-size: 0.7rem;
	font-weight: normal;
	text-transform: uppercase;
}

.title {
	color: var(--theme-color);
	font-size: 2.5rem;
	font-weight: bold;
  line-height: 1.5 !important;
	display: grid;
}

/* show anchor on hover only */
.heading-anchor {
  color: var(--link-color) !important;
  position: absolute;
  top: -5px;
  transform: translateX(-100%);
  padding: 0 8px;
  opacity: 0;
}

.headings:hover .heading-anchor, .heading-anchor:focus {
  text-decoration: none !important;
  opacity: 1;
}

.content a {
	line-height: 1.6;
}

.content a:hover {
	text-decoration: underline;
}

.posts {
	list-style: none;
	padding-left: 10px;
	margin-top: -10px;
}

.post-group-date {
	margin-bottom: 10px;
}

.notes {
	list-style: none;
	padding-left: 10px;
	margin-top: -10px;
}

.tags, .tags > a {
	color: var(--fade-color) !important;
}

.list a {
	text-decoration: none;
	position: relative;
	color: var(--nav-color) !important;
}

.list a:hover {
	text-decoration: none !important;
}

.list a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 2px solid var(--link-color) ;
	transition: 0.4s;
}

.list a:hover:after {
	width: 100%;
}

.tools {
  color: var(--fade-color);
  font-family: "Fira Code, monospace";
}

.alert {
	padding: 10px 15px !important;
	margin: 20px;
	border-left: 4px solid #42b983;
  background-color: rgba(52, 55, 62, 0.32);
}

.alert-warning {
	border-left: 4px solid #C34043;
  background-color: rgba(195,64,67,0.32);
}

.alert-note {
	border-left: 4px solid #42b983;
  background-color: rgba(52, 55, 62, 0.32);
}

.alert-info {
	border-left: 4px solid #42b983;
  background-color: rgba(52, 55, 62, 0.32);
}

.alert-example {
	border-left: 4px solid #7E9CD8;
  background-color: rgba(20, 59, 136, 0.32);
}

@media screen and (max-width: 660px) {
	nav,
	header,
	footer,
	main {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media only screen and (max-width: 1280px) {
	.tableOfContents {
		display: none;
	}
}
