
* {
	outline: none;
	--bg-color: #202124;
  --fg-color: #fff;
	--theme-color: #fff;
	--nav-color: #d7d8df;
  --nav-bg-hover-color: #353545;
  --link-color: orange;
  /* --link-visited-color: #ccf; */
  --blockquote-color: #42b983;
  --fade-color: #898989;
  --code-bg-color: #272822;
}

html {
	scroll-behavior: smooth;
}

main {
	display: grid;
	grid-template-columns: 100% 20em;
	margin-top: 1rem;
	line-height: 1.5rem;
}

body {
	color: var(--fg-color) !important;
	font-family: "Nimbus Sans", "Arial", "sans-serif";
	font-size: 1.125rem;
	background-color: var(--bg-color) !important;
}

p {
	letter-spacing: 0.2px !important;
	line-height: 1.9 !important;
	min-height: 1em !important;
	box-sizing: border-box !important;
	word-wrap: break-word !important;
	/* text-align: justify; */
	margin: 20px 0 !important;
}

blockquote {
	border-left: 4px solid var(--blockquote-color);
	padding: 0 15px !important;
	margin: 20px;
}

strong {
	font-weight: bold;
}

figure {
	text-align: center;
}

figcaption p {
	text-align: center !important;
	font-size: 0.75rem;
	color: var(--fade-color);
}

img {
	max-width: 100% !important;
}

details {
	padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	word-break: break-word
	line-height: 1.2;
	text-align: left;
	font-weight: bold;
	color: var(--theme-color);
	position: relative;
}

h1 {
	margin: 2.125rem 0;
	font-size: 2.5rem !important;
}

h2 {
	margin: 2rem 0;
	font-size: 1.6667rem !important;
}

h3 {
	margin: 1.5rem 0;
	font-size: 1.3333rem !important;
}

h4 {
	margin: 1rem 0;
	font-size: 1rem !important;
}

a {
	color: var(--link-color) !important;
	text-decoration: none;
}

a:visited {
	/* color: var(--link-visited-color) !important; */
	text-decoration: none;
}

ul,
ol {
	padding-left: 30px;
}

li {
	line-height: 28px;
}

hr {
	height: 1.5px;
	padding: 0;
	margin: 16px 0;
	background-color: var(--fade-color);
  opacity: 0.5;
	border: 0 none;
	overflow: hidden;
	box-sizing: content-box;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid var(--fade-color);
  padding: 0.5rem;
  text-align: left;
}

footer {
	font-weight: bold;
	color: var(--nav-color);
	font-size: 1rem;
	margin: 4rem 0;
}

pre {
  background: var(--code-bg-color) !important;
  display: grid;
  font-family: "Fira Code", "monospace" !important;
  font-size: 0.85rem;
  padding: 12px 13px;
  margin: 2rem 0rem;
  border-radius: 0.375rem;
}

pre > code {
	display: block;
	text-indent: 0;
}

code {
  font-family: "Fira Code", "monospace" !important;
	background-color: var(--code-bg-color);
	/* background: rgb(16, 20, 23) !important; */
	margin: 0 2px;
	padding: 3px 5px;
	white-space: pre;
	width: 100%;
	max-width: 100%;
	min-width: 100px;
	border-radius: 5px;
	overflow-x: auto;
}


/* syntax  */
.highlight pre code::before {
  color: var(--fade-color);
  float: right;
  padding: 0 0.4rem;
  margin-top: -0.5rem;
}

.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
}
.highlight pre code[class*='language-hcl']::before,
.highlight pre code[class*='language-hcl']::before{
  content: 'hcl';
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
  content: 'shell';
}
.highlight pre code[class*='language-json']::before{
  content: 'json';
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
  content: 'py';
}
.highlight pre code[class*='language-html']::before{
  content: 'html';
}
.highlight pre code[class*='language-css']::before{
  content: 'css';
}
.highlight pre code[class*='language-go']::before{
  content: 'go';
}
.highlight pre code[class*='language-ruby']::before,
.highlight pre code[class*='language-ruby']::before{
  content: 'ruby';
}
.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
}
