
nav {
	/* display: flex; */
	padding-top: 2rem;
	line-height: 1.5;
}

nav a {
	color: var(--nav-color) !important;
	padding-right: 2rem;
	font-size: 1.2rem;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline !important;
}


/* responsive dropdown menu */

.dropdown-btn {
	display: none;
	list-style-type: none;
  float: right;
	padding: 0;
	margin: 0;
}

nav button {
	color: var(--nav-color);
	background-color: transparent;
	border: none;
}

.dropdown {
	opacity: 0;
	z-index: 99;
	position: absolute;
	background: var(--bg-color);
	transition: opacity 0.5s ease-out;

	display: flex;
	flex-direction: column;
	margin: 0;
	margin-top: 0.5rem;
	padding: 0;
}

.dropdown-item {
	visibility: hidden;
  width: 100%;
	height: 100%;
	list-style-type: none;
	margin-top: 0.5rem;
	padding: 0.5rem;
	font-size: 0.9rem;
}

.dropdown-item:hover {
	background: var(--nav-bg-hover-color);
	text-decoration: none !important;
}

/* to allow menu to appear on hover */
.has-dropdown:focus-within .dropdown,
.has-dropdown:focus-within .dropdown > a {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}

@media screen and (max-width: 660px) {
	.navbar { display: none; }
	.dropdown-btn { display: inline-block; }
}
