<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0,
	shrink-to-fit=no">
	<meta name="robots" content="noodp" />

	<title>{{ .Title }}</title>

	{{ $base := resources.Get "css/bamboo.min.css" }}
  {{ $nav := resources.Get "css/nav.css" }}
  {{ $custom := resources.Get "css/custom.css" }}
	{{ $style := slice $base $nav $custom | resources.Concat "assets/css/bundle.css" | minify | fingerprint "sha512" }}

	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
	<link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}/feed.xml" title="{{ .Site.Title }}">
</head>
