{{ if (.Params.toc) }}
<aside class="tableOfContents">
  <div style="margin-top: .8rem;">
    <a href="#">{{ .Title | title }}</a>
    <span><a style="position: relative; top: 0.5rem;" href="#top">{{ partial "svg/icons" "up" }}</a></span>
  </div>

  {{ if .IsSection }}
    <nav>
      <ul>
        {{ range .Sections.ByTitle }}
          <li>
            <a href="#{{ .Title | urlize | lower }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>

  {{ else }}
    {{ .TableOfContents }}
  {{ end }}
</aside>
{{ end }}
