* {
	outline: none;
	--theme-color: #f78e66;
	--link-color: #72b6b5;
}
body {
	color: #d8d8d8 !important;
}

img {
	max-width: 100% !important;
}

.main-container {
	max-width: 850px;
	margin: 0 auto;
}

/* header */

header {
	margin: 2rem 20% -2rem 20%;
	display: flex;
	justify-content: center;
}

header * {
	color: var(--theme-color) !important;
	font-size: 2rem !important;
}

/* .blinking { */
/* 	animation: opacity 1s ease-in-out infinite; */
/* 	opacity: 1; */
/* } */
/**/
/* @keyframes opacity { */
/* 	0% { */
/* 		opacity: 1; */
/* 	} */
/**/
/* 	50% { */
/* 		opacity: 0; */
/* 	} */
/**/
/* 	100% { */
/* 		opacity: 1; */
/* 	} */
/* } */

/* nav */

nav {
	padding-top: 3rem;
	line-height: 2rem;
}

nav a {
	color: var(--link-color) !important;
	padding-right: 2rem;
	font-size: 1rem;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline !important;
}

/* main */

main {
	margin-top: 3rem;
	display: grid;
	line-height: 1.5rem;
}

.title {
	color: var(--theme-color);
	font-size: 40px;
	font-weight: bold;
	display: grid;
}

.meta {
	color: var(--theme-color);
	font-size: 0.7rem;
	font-weight: normal;
	text-transform: uppercase;
}

.icons a {
	font-size: 20px;
	padding-right: 8px;
	padding-left: 8px;
}

.content a {
	/* text-decoration: underline; */
	line-height: 1.9rem;
}

.content a:hover {
	text-decoration: underline;
}


.posts {
	list-style: none;
	padding-left: 10px;
	margin-top: -10px;
}

.post-group-date {
	margin-bottom: 10px;
}

.post-footer {

}

.notes {
	list-style: none;
	padding-left: 10px;
	margin-top: -10px;
}

.list a {
	text-decoration: none;
	position: relative;
	color: var(--link-color) !important;
}

.list a:hover {
	text-decoration: none !important;
}

.list a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 2px solid var(--link-color) ;
	transition: 0.4s;
}

.list a:hover:after {
	width: 100%;
}

/* footer */

footer {
	font-weight: bold;
	color: var(--link-color);
	font-size: 1rem;
	margin: 4rem 0;
}

@media screen and (max-width: 650px) {
	nav,
	header,
	footer,
	main {
		margin-left: 10%;
		margin-right: 10%;
	}
}
