* {
	outline: none;
	--theme-color: #f78d54;
	--link-color: #72b6b5;
}

body {
	color: #d8d8d8 !important;
}

.main-container {
	width: 660px;
	max-width: 100%;
	margin: 0 auto;
	/* border: 1px solid white; */
}

/* header */

/* header { */
/* 	margin: 2rem 20% -2rem 20%; */
/* 	display: flex; */
/* 	justify-content: center; */
/* } */
/**/
/* header * { */
/* 	color: var(--theme-color) !important; */
/* 	font-size: 2rem !important; */
/* } */

/* footer */

footer {
	font-weight: bold;
	color: var(--link-color);
	font-size: 1rem;
	margin: 4rem 0;
}

.icons a svg {
	height: 1.1rem;
	width: 1.1rem;
	padding-right: 4px;
	padding-left: 4px;
}

/* main */

main {
	display: grid;
	margin-top: 1rem;
	line-height: 1.5rem;
}

img {
	max-width: 100% !important;
}

.title {
	color: var(--theme-color);
	font-size: 40px;
	font-weight: bold;
	display: grid;
}

.meta {
	color: var(--theme-color);
	font-size: 0.7rem;
	font-weight: normal;
	text-transform: uppercase;
}

.content a {
	line-height: 1.6;
}

.content a:hover {
	text-decoration: underline;
}

.posts {
	list-style: none;
	padding-left: 10px;
	margin-top: -10px;
}

.post-group-date {
	margin-bottom: 10px;
}

.post-footer {

}

.notes {
	list-style: none;
	padding-left: 10px;
	margin-top: -10px;
}

.list a {
	text-decoration: none;
	position: relative;
	color: var(--link-color) !important;
}

.list a:hover {
	text-decoration: none !important;
}

.list a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 2px solid var(--link-color) ;
	transition: 0.4s;
}

.list a:hover:after {
	width: 100%;
}

@media screen and (max-width: 660px) {
	nav,
	header,
	footer,
	main {
		margin-left: 10%;
		margin-right: 10%;
	}
}
