<div class="book-card">
  <div class="cover">
    <a href="{{ .url }}">
      <picture>
        {{ $image := resources.GetMatch (printf "covers/%s" .cover) | default "" }}
        {{ $image := $image.Resize (printf "%dx%d webp" $image.Width $image.Height) }}
        <source srcset="{{ $image.RelPermalink }}" type="image/webp">
        <source srcset="/covers/{{ .cover }}" type="image/jpeg">
        <img alt="{{ .title }}" src="/covers/{{ .cover }}" loading="lazy" decoding="async"/>
      </picture>
    </a>
  </div>

  <div style="margin-top: 0.75rem;">
    <p style="margin-bottom: 0px;">{{ .title }}</p>
    <p class="book-author">{{ .authors }}</p>
  </div>
</div>
