<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0,
	shrink-to-fit=no">
	<meta name="robots" content="noodp" />

	<title>{{ .Title }}</title>

	{{ $stylemain := resources.Get "css/main.css" | minify | fingerprint "sha512" }}
	<link rel="stylesheet" href="{{ $stylemain.RelPermalink }}" integrity="{{ $stylemain.Data.Integrity }}">
	<!-- <link rel="stylesheet" href="css/main.css" /> -->
	<link rel="shortcut icon" type="image/png" href="img/favicon.png" />

	<link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}/feed.xml" title="{{ .Site.Title }}">
</head>
