<nav role="navigation">
	<a class="navbar" href="{{.Site.BaseURL}}/">Home</a>
	{{ range .Site.Menus.main }}
	<a class="navbar" href="/{{ .URL }}">{{ .Name }}</a>
	{{ end }}

	<ul class="dropdown-btn">
		<li class= "has-dropdown">
			<button>{{ partial "svg/icons" "hamburger" }}</button>

			<ul class="dropdown" aria-label="submenu">
				<a class="dropdown-item" href="{{ .Site.BaseURL }}">Home</a>
				{{ range .Site.Menus.main }}
					<a class="dropdown-item" href="/{{ .URL }}">{{ .Name }}</a>
				{{ end }}
			</ul>

		</li>
	</ul>
</nav>
