{% extends "base.html" %}
{% block content %}
<div>
  <h1>
    {{ page.title }}
    <div class="meta">
      {{ page.date | date(format="%Y-%m-%d") }}
      • {{ page.reading_time }} min{{ page.reading_time | pluralize }}
    </div>
  </h1>
  {{ page.content | safe }}
  <div class="meta">
    Edited: {{ page.updated | date(format="%Y-%m-%d") }}
    {% if page.taxonomies.tags %}
    <div class="tags">
      {% for tag in page.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% include "partials/toc.html" %}
{% endblock content %}
