{{ define "main" }}
<div>
  <h1>
    {{ .Title }}
  </h1>

  {{ if .Content }}
    <div>{{ .Content }}</div>
  {{ end }}

  {{ if (where .Site.Pages "Section" "notes") }}
    {{ range .Sections.ByTitle }}
      <div>
        <h3 id="{{ .Title | anchorize }}" class="headings">
          {{ .Title | title }}
        </h3>
        <ul class="notes">
          {{ range .Pages.ByTitle }}
            <li>
              <a href="{{.Permalink}}">{{.Title}}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  {{ end }}
</div>

{{ partial "toc.html" . }}

{{ end }}
