{{ define "main" }}
<div>
	<h1>
		{{ .Title }}
	</h1>

	{{ if .Content }}
		<div>{{ .Content }}</div>
	{{ end }}

	{{ if (where .Site.Pages "Section" "projects") }}
		<div>
			{{ range .Pages.ByWeight }}
				<h2 style="margin-bottom: 2px;">
          <a style="color: var(--theme-color) !important;" href="{{ .Params.repo_url }}">
            {{ .Title }}
          </a>
        </h2>

				<small class="tools">
					{{ if .Params.post_url }}
						<a href="{{ .Params.post_url }}">Blog</a> |
					{{ end }}
					<span>
						Tools:
						{{ range $i, $tool := .Params.tools -}}
							{{- if $i -}}, {{ end -}}
							{{ $tool }}
						{{- end -}}
					</span>
				</small>

				<div>{{.Content}}</div>
			{{ end }}
		</div>
	{{ end }}
</div>
{{ end }}
