{{ define "main" }}
	<p class="title">
		{{ .Title }}
	</p>

	{{ if .Content }}
		<div>{{ .Content }}</div>
	{{ end }}

	{{ if (where .Site.Pages "Section" "books") }}
		{{ range .Sections.ByTitle }}
			<div>
				<h2>{{ .Title }}</h2>
				<ul class="notes list">
					{{ range .Pages.ByTitle }}
						<li>
							{{ if .Content  }}
								<a href="{{.Permalink}}">{{.Title}}</a>
							{{ else }}
								{{ .Title }}
							{{ end }}

						</li>
					{{ end }}
				</ul>
			</div>
		{{ end }}
	{{ end }}
{{ end }}
